@tailwind base;
@tailwind components;
@tailwind utilities;



.bannerbackground{
  background-image: url("/public/image\ 1\ \(1\).png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}